*.cabal
*.hi
*.o
*~
*.bak*.*
*.bak
*.old
*.html
*.log
\#*
haddock/
.stack-work/
tex/
JSeM/
dictionary/
dist/
script/
testsuits/
tools/
*/swi_alligator1.0.pl
src/.ftpconfig
stack.yaml.lock
config.yaml
.env

client_session_key.aes
